div.service
  .container
  	.rows
  	  .col-lg-4
  	    img(src='images/serviceProvider.jpg', width= '15%')
  	    span Start Earning money now!
  	    button.btn.btn-default.seller(type='submit') SignUp as seller


