doctype html
head
  title Another Me
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel="stylesheet", type="text/css", href="css/style.css")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
body
  nav.navbar.navbar-default.nav
    .container
      .navbar-header
        a.navbar-brand#logo(href='#') Another me
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li
          a(href='#') contact us
        li
          a(href='/search') Search
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/signup')
            span.glyphicon.glyphicon-user
            |  Sign Up
        li
          a(href='/login')
            span.glyphicon.glyphicon-log-in
            |  Login

  .slideshow-container.container
    .mySlides.fade
      img(src="images/banner1.jpg", style="width:100%")
    .mySlides.fade
      img(src="images/banner2.jpg", style="width:100%")
    .mySlides.fade
      img(src="images/banner3.jpg", style="width:100%")
    a.prev(onclick="plusSlides(-1)") ❮
    a.next(onclick="plusSlides(1)") ❯
    br
  script.
    var slideIndex = 1;
    showSlides(slideIndex);
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }
    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    }
  
  //- .footer
  //-   .container
  //-     .rows
  //-       div.col-lg-4
  //-         p.copyrights copyrights @ 2017 All rights reserved
  //-       div.col-lg-4
  //-       div.col-lg-4
  //-         a.mediaIcon(href="https://www.facebook.com" class="fa fa-facebook")
  //-         a.mediaIcon(href="https://www.twitter.com" class="fa fa-twitter")
  //-         a.mediaIcon(href="https://www.google.com" class="fa fa-google")






  