doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login Blog Application
    link(rel='stylesheet', href='css/login-signup.css')
  body
    if user
      a(href='/profile') view profile
      br
      a(href='/logout') log out
    else
      .log-form
        h2 Login to your account
        form(action="/login", method="post", autocomplete="off")
          input(type='text', name='inputEmail', placeholder='Email')
          input(type='password', name='password', placeholder='password')
          button.btn(type='submit') Login
          a.forgot(href='#') Forgot Password?
          br
          br
          a.forgot2(href='/signup') No user yet ? Sign up here
      // end log form
      script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
