doctype html
html
  head
    title The Library App
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body
  div.header
    ul.nav     
      li
        a(href="index.pug") Home
      li
        a(href="search.pug") Search books
      li
        a(href="addEntry.pug") Add Entry 
      li
        a(href="#") About Me
  // header