doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Login Blog Application
    link(rel='stylesheet', href='css/login-signup.css')
  body
    .log-form
      h2 Sign up
      form(action='/createuser', method='POST' autocomplete='off' enctype='multipart/form-data')
        input(type='text', name='inputFirstname',placeholder='Enter your firstname')
        input(type='text', name='inputLastname',placeholder='Enter your lastname')
        input(type='text', name='inputEmail', placeholder='Enter your email')
        input(type='password', name='password', placeholder='New Password')
        input(type='password', name='password2', placeholder='New Password')
        br
        p Add a profile picture
        input(type='file', name='profileImage', placeholder='upload Profile Picture')
        button.btn(type='submit') Create account
        a.forgot(href='/') Already have an account?
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
